/Python_Convert_Send/.vs/PythonApplication1/copilot-chat
/Python_Convert_Send/.vs/PythonApplication1/CopilotIndices
/Python_Convert_Send/.vs/PythonApplication1/FileContentIndex
/Python_Convert_Send/.vs/PythonApplication1/v17/Browse.VC.db
/Python_Convert_Send/.vs/PythonApplication1/v17/.suo
/Python_Convert_Send/.vs/PythonApplication1/v17/DocumentLayout.backup.json
/Python_Convert_Send/.vs/PythonApplication1/v17/DocumentLayout.json
/Python_Convert_Send/.vs/PythonApplication1/v17/Solution.VC.db
